<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h4>
            {{langene.GNLABLE7}}
        </h4>
        <ul class="list-group clear-list m-t">
            {% for var in mod.lastaccess %}
            <li class="list-group-item fist-item">
                <!--<span class="pull-right">
                    {{var.hour}}
                </span>-->
                <span class="label label-success col-lg-4 text-right">{{var.ip}}{% if var.flag!='' %}<span style="padding-left: 5px"><img src="{{url}}/img/flags/16/{{var.flag}}.png" alt="{{var.city}}/{{var.country}}" title="{{var.city}}/{{var.flag}}"> </span>{% else %}<span style="padding-left: 5px"></span> {% endif %}</span>  <span class="fab fa-{{var.os}}"></span><span  style="padding-left: 45px">{{var.date|date("d/m/Y")}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!--div class="col-md-5">
        <h4>
            {{langene.GNLABLE8}}  {{mod.domain_username}}
        </h4>
        <div class="flot-chart dashboard-chart">
            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
        </div>

    </div-->
    <div class="col-md-7">
        <!--<h4>
            {{langene.GNLABLE9}}
        </h4>-->
        <div class="row col-md-12">
            <div class="col-md-12">
                <div>
                    <div id="slineChart" ></div>
                </div>
            </div>
            <div class="statistic-box">
                <div class="row text-center">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        {% set mysqlbar=(100/mod.mysqlpack.package)*mod.mysqlpack.used %}
                        <h5 >{{langene.PGMYSQL}} {{mod.mysqlpack.used}} / {{mod.mysqlpack.package}}</h5>
                    </div>
                    <div class="col-lg-2">
                        <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5 >{{langene.PGEMAIL}} {{mod.email_accounts}} / {{mod.email_pack}}</h5>
                    </div>
                    <div class="col-lg-2">
                        <canvas id="doughnutChart3" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5 >{{langene.PGDOMAINS}} {{mod.domain_accounts}}/{{mod.domain_pack}}</h5>
                    </div>
                    <div class="col-lg-2">
                        <canvas id="doughnutChart5" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5 >{{langene.PGSUBDOMAIN}} {{mod.subdomain_accounts}}/{{mod.subdomain_pack}}</h5>
                    </div>
                    <div class="col-lg-2">
                        <canvas id="doughnutChart4" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5 >{{langene.PGFTP}} {{mod.ftp_accounts}} / {{mod.ftp_pack}}</h5>
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-2">
        <div style="margin-top: 15px">
            <h3>{{langmod.GNLABEL21}}:
                <small><br>{{settings.timerdate}}<br></small>
        </div>
        <div style="margin-top: 5px">
            <h3>{{langmod.GNLABEL22}}:
                <small><br>{{mod.package_username}}</small>
        </div>
        <div style="margin-top: 5px">
            <h3>{{langene.GNLABEL27}}:
                <small><br>{{mod.domain_username}}</small>
        </div>
        <div style="margin-top: 15px">
            <h3>{{langmod.GNLABEL23}}:
                <small><br>{{settings.ipserver}}</small>
        </div>
        <div style="margin-top: 15px">
            <h3>{{langmod.GNLABEL24}}:
                <small><br><b>Ns1:</b> {{dnsname.ns1}}<br><b>Ns2:</b>  {{dnsname.ns2}}</small>
        </div>

   </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            {% if (("crontab" in rmenu )or("process_list" in rmenu )or("phpini_editor" in rmenu )or(menu.cloudlinux ==1 )or(menu.notification_center ==1 )or(menu.cloudlinux ==1 )or(menu.phpselector ==1 ))or(swmenu==1) %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-bar-chart-o"></i> {{langmod.CWPSETTING}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {% if ("crontab" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=crontab"><i class="fab fa-linode fa-3x"></i>   {{langene.CRON}}</a></div>
                                {% endif %}
                                {% if ("process_list" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="#"data-toggle="modal" data-target="#modalprocesslist"  class="mod_process_list"><i class="fab fa-free-code-camp fa-3x"></i>   {{langene.PROCESSLIST}}</a></div>
                                {% endif %}
                                {% if ("phpini_editor" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=phpini_editor"><i class="fa fa-edit fa-3x"></i>   {{langene.PHPINI}}</a></div>
                                {% endif %}
                                {% if menu.cloudlinux ==1 %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=php_selector"><i class="fa fa-cubes fa-3x"></i>   {{langene.PHPSELECTOR}}</a></div>
                                {% endif %}
                                {% if ("notification_center" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=notification_center"><i class="fa fa-bell fa-3x"></i>   {{langene.BTNOTITITLE}}</a></div>
                                {% endif %}
                            </div>
                            <div class="row" style="margin-top: 15px">
                                {% if ("phpselector" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=phpselector"><i class="fab fa-php fa-3x"></i>   {{langene.GNLABEL50}}</a></div>
                                {% endif %}
                                {% if ("statistics" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=statistics"><i class="fab fa-stack-overflow fa-3x"></i>   {{langene.GNLABEL51}}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if (("files_system_lock" in rmenu )or("clam" in rmenu )or("fileManager2" in rmenu )or("ftp_accounts" in rmenu )or("backups" in rmenu )or("permi_rv" in rmenu )or ("protected_directory" in rmenu ))or(swmenu==1) %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-edit"></i> {{langmod.FILEM}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {% if ("files_system_lock" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="#" class="files_system_lock"><i class="fa fa-lock fa-3x"></i>   {{langene.FILESYST}}</a></div>
                                {% endif %}
                                {% if ("clam" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="#" id="clam" class="clam"><i class="fa fa-bug fa-3x"></i>   {{langene.ANTIVI}}</a></div>
                                {% endif %}
                                {% if ("fileManager2" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="fileManager2.php" target="_blank"><i class="fa fa-file-archive-o fa-3x"></i>   {{langene.FTPFILE}}</a></div>
                                {% endif %}
                                {% if ("ftp_accounts" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=ftp_accounts"><i class="fa fa-file-code-o fa-3x"></i>   {{langene.FTPACC}}</a></div>
                                {% endif %}
                                {% if ("backups" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=backups"><i class="fa fa-cloud fa-3x"></i>   {{langene.BACKUP}}</a></div>
                                {% endif %}
                                {% if ("permi_rv" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=permi_rv"><i class="fas fa-save fa-3x"></i>   Permission Reset</a></div>
                                {% endif %}
                                {% if (apache==1)%}
                                    {% if ("protected_directory" in rmenu )or(swmenu==1) %}
                                        <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=protected_directory"><i class="fa fa-unlock-alt fa-3x"></i>   {{langene.DIRPROTE}}</a></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if ("domains" in rmenu )or("subdomains" in rmenu )or("letsencrypt" in rmenu )or(swmenu==1) %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-globe"></i> {{langmod.DOMAINS}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {% if ("domains" in rmenu )or(swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=domains"><i class="fa fa-globe fa-3x"></i>   {{langene.DOMAINS}}</a></div>
                                {% endif %}
                                {% if ("subdomains" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=subdomains"><i class="fa fa-umbrella fa-3x"></i>   {{langene.SUBDOMAIN}}</a></div>
                                {% endif %}
                                {% if ("letsencrypt" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=letsencrypt"><i class="fa fa-dollar fa-3x"></i>   {{langene.AUTOSSL}}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if ("mysql_manager" in rmenu ) or ("posgresql_manager" in rmenu) or (swmenu==1) %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-database"></i> {{langmod.SQLSERV}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {%  if ("mysql_manager" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=pma" target="_blank"><i class="fa fa-database fa-3x"></i>   {{langene.PHPMYADMIN}}</a></div>
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=mysql_manager"><i class="fa fa-graduation-cap fa-3x"></i>   {{langene.MANAGERMYSQL}}</a></div>
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="#" id="mysql_processes" class="mysql_processes"><i class="fa fa-database fa-3x"></i>   {{langene.SHOWMYSQL}}</a></div>
                                {% endif %}
                                {% if (postgres==1) %}
                                    {% if ("posgresql_manager" in rmenu ) or (swmenu==1) %}
                                        <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=postgresql_manager"><i class="fa fa-graduation-cap fa-3x"></i>   {{langene.MANAGERPOSGRE}}</a></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if ("email_accounts" in rmenu )or("mail_autoreply" in rmenu ) or("roundcube" in rmenu ) or (swmenu==1) %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-envelope"></i> {{langmod.MAILACCOUNT}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {% if ("email_accounts" in rmenu )or(swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=email_accounts"><i class="fa fa-at fa-3x"></i>   {{langene.MAILACCOUNT}}</a></div>
                                {% endif %}
                                {% if ("mail_autoreply" in rmenu ) or (swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=mail_autoreply"><i class="fa fa-envelope fa-3x"></i>   {{langene.AUTORESPONDER}}</a></div>
                                {% endif %}
                                {% if ("roundcube" in rmenu ) or (swmenu==1) %}
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="{{mod.roundcube}}" target="_blank"><i class="fa fa-compass fa-3x"></i>   {{langene.ROUNDCUBE}}</a></div>
                                {% endif %}
                                {% if ("mail_routing" in rmenu ) or (swmenu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=mail_routing"><i class="fa fa-envelope fa-3x"></i>   {{langene.DASWER}}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                {% if ("dns_zone_editor" in rmenu )or(swmenu==1) %}
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-envelope"></i> {{langmod.DNS}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=dns_zone_editor"><i class="fa fa-cogs fa-3x"></i>   {{langene.DNSZONEEDITOR}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% if ("addons" in rmenu )or(swmenu==1) %}
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-download"></i> {{langmod.ADDONS}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-3"><a href="?module=addons&acc=filemanager"><i class="fa fa-folder-open fa-3x"></i>   {{langene.ASSMOD_EXPLO}}</a></div>
                                <div class="col-md-3"><a href="?module=addons&acc=wordpress"><i class="fab fa-wordpress fa-3x"></i>   {{langene.ASSMOD_WP}}</a></div>
                                <div class="col-md-3"><a href="?module=addons&acc=prestashop"><i class="fa fa-compress fa-3x"></i>   {{langene.ASSMOD_PS}}</a></div>
                                <div class="col-md-3"><a href="?module=addons&acc=joomla"><i class="fab fa-joomla fa-3x"></i>   {{langene.ASSMOD_JL}}</a></div>
                            </div>
                            <div class="row" style="margin-top: 25px">
                                <div class="col-md-3"><a href="?module=addons&acc=drupal"><i class="fab fa-drupal fa-3x"></i>   {{langene.ASSMOD_DP}}</a></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% if (("softaculous" in rmenu )or("fantastico_f3" in rmenu ) or(mod.sitepad in rmenu )) or ((softmenu==1) or (fant3menu==1) or (mod.sitepad==1))%}
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-download"></i> {{langmod.SCRIPTINST}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                {% if(softmenu==1) %}
                                    {% if ("softaculous" in rmenu )or(swmenu==1) %}
                                        <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=softaculous"><img src="{{url}}/img/softaculous.png" class="blue" width="48" style="margin-right: 15px">   {{langene.SOFTAC}}</a></div>
                                    {% endif %}
                                {% endif %}

                                {% if(mod.sitepad==1) %}
                                    {% if ("sitepad" in rmenu )or(swmenu==1) %}
                                        <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=sitepad"><img src="{{url}}/img/sitepad.png" width="48" style="margin-right: 15px">   {{langene.GNLABEL46}}</a></div>
                                    {% endif %}
                                {% endif %}
                                {% if(fant3menu==1) %}
                                    <div class="col-md-3" style="padding-bottom: 20px"><a href="#"><i class="fa fa-window-restore fa-3x"></i>   {{langene.FANTASTICO}}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                {% if mod.reseller ==1%}
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-recycle"></i> {{langmod.GNLABEL37}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="?module=reseller"><i class="fa fa-user fa-3x"></i>   {{langene.GNLABEL43}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-cog"></i> {{langmod.PNSETTING}}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-3" style="padding-bottom: 20px"><a href="#" data-toggle="modal" data-target="#modal-settings"><i class="fa fa-wrench fa-3x"></i>   {{langene.PNSETTING}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>